ACTION=="add", KERNEL=="mali0", OWNER="system", GROUP="system", MODE="0666"
ACTION=="add", KERNEL=="ion", OWNER="system", GROUP="system", MODE="0666"
ACTION=="add", KERNEL=="ump", OWNER="system", GROUP="graphics", MODE="0666"
ACTION=="add", KERNEL=="exynos-mem", OWNER="system", GROUP="graphics", MODE="0660"
ACTION=="add", KERNEL=="video0", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video1", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video2", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video3", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video20", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="media0", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="media1", OWNER="system", GROUP="graphics", MODE="0660"
ACTION=="add", KERNEL=="v4l-subdev0", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="v4l-subdev1", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="v4l-subdev2", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="v4l-subdev3", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="v4l-subdev4", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="v4l-subdev5", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="v4l-subdev6", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="v4l-subdev7", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="v4l-subdev8", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="v4l-subdev9", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="v4l-subdev10", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="v4l-subdev11", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="v4l-subdev12", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="v4l-subdev13", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="v4l-subdev14", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="v4l-subdev15", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="v4l-subdev16", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="v4l-subdev17", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="v4l-subdev18", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="v4l-subdev19", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="v4l-subdev20", OWNER="system", GROUP="graphics", MODE="0660"
ACTION=="add", KERNEL=="v4l-subdev21", OWNER="system", GROUP="graphics", MODE="0660"
ACTION=="add", KERNEL=="v4l-subdev32", OWNER="system", GROUP="graphics", MODE="0660"
ACTION=="add", KERNEL=="video23", OWNER="media", GROUP="graphics", MODE="0660"
ACTION=="add", KERNEL=="video26", OWNER="media", GROUP="graphics", MODE="0660"
ACTION=="add", KERNEL=="video24", OWNER="media", GROUP="graphics", MODE="0660"
ACTION=="add", KERNEL=="video27", OWNER="media", GROUP="graphics", MODE="0660"
ACTION=="add", KERNEL=="video29", OWNER="media", GROUP="graphics", MODE="0660"
ACTION=="add", KERNEL=="video30", OWNER="media", GROUP="graphics", MODE="0660"
ACTION=="add", KERNEL=="video31", OWNER="media", GROUP="graphics", MODE="0660"
ACTION=="add", KERNEL=="video50", OWNER="mediacodec", GROUP="drmrpc", MODE="0660"
ACTION=="add", KERNEL=="video51", OWNER="cameraserver", GROUP="cameraserver", MODE="0660"
ACTION=="add", KERNEL=="m2m1shot_scaler0", OWNER="mediacodec", GROUP="graphics", MODE="0660"
ACTION=="add", KERNEL=="m2m1shot_scaler1", OWNER="cameraserver", GROUP="cameraserver", MODE="0660"
ACTION=="add", KERNEL=="video55", OWNER="system", GROUP="graphics", MODE="0666"
ACTION=="add", KERNEL=="fimg2d", OWNER="system", GROUP="graphics", MODE="0666"
ACTION=="add", KERNEL=="i2c-2", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="HPD", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="video6", OWNER="mediacodec", GROUP="mediadrm", MODE="0660"
ACTION=="add", KERNEL=="video7", OWNER="mediacodec", GROUP="mediadrm", MODE="0660"
ACTION=="add", KERNEL=="video8", OWNER="mediacodec", GROUP="mediadrm", MODE="0660"
ACTION=="add", KERNEL=="video9", OWNER="mediacodec", GROUP="mediadrm", MODE="0660"
ACTION=="add", KERNEL=="video101", OWNER="cameraserver", GROUP="cameraserver", MODE="0660"
ACTION=="add", KERNEL=="video102", OWNER="cameraserver", GROUP="cameraserver", MODE="0660"
ACTION=="add", KERNEL=="video103", OWNER="cameraserver", GROUP="cameraserver", MODE="0660"
ACTION=="add", KERNEL=="video104", OWNER="cameraserver", GROUP="cameraserver", MODE="0660"
ACTION=="add", KERNEL=="video105", OWNER="cameraserver", GROUP="cameraserver", MODE="0660"
ACTION=="add", KERNEL=="video106", OWNER="cameraserver", GROUP="cameraserver", MODE="0660"
ACTION=="add", KERNEL=="video109", OWNER="cameraserver", GROUP="cameraserver", MODE="0660"
ACTION=="add", KERNEL=="video110", OWNER="cameraserver", GROUP="cameraserver", MODE="0660"
ACTION=="add", KERNEL=="video111", OWNER="cameraserver", GROUP="cameraserver", MODE="0660"
ACTION=="add", KERNEL=="video112", OWNER="cameraserver", GROUP="cameraserver", MODE="0660"
ACTION=="add", KERNEL=="video120", OWNER="cameraserver", GROUP="cameraserver", MODE="0660"
ACTION=="add", KERNEL=="video121", OWNER="cameraserver", GROUP="cameraserver", MODE="0660"
ACTION=="add", KERNEL=="video122", OWNER="cameraserver", GROUP="cameraserver", MODE="0660"
ACTION=="add", KERNEL=="video130", OWNER="cameraserver", GROUP="cameraserver", MODE="0660"
ACTION=="add", KERNEL=="video131", OWNER="cameraserver", GROUP="cameraserver", MODE="0660"
ACTION=="add", KERNEL=="video132", OWNER="cameraserver", GROUP="cameraserver", MODE="0660"
ACTION=="add", KERNEL=="video140", OWNER="cameraserver", GROUP="cameraserver", MODE="0660"
ACTION=="add", KERNEL=="video141", OWNER="cameraserver", GROUP="cameraserver", MODE="0660"
ACTION=="add", KERNEL=="video142", OWNER="cameraserver", GROUP="cameraserver", MODE="0660"
ACTION=="add", KERNEL=="video150", OWNER="cameraserver", GROUP="cameraserver", MODE="0660"
ACTION=="add", KERNEL=="video151", OWNER="cameraserver", GROUP="cameraserver", MODE="0660"
ACTION=="add", KERNEL=="video152", OWNER="cameraserver", GROUP="cameraserver", MODE="0660"
ACTION=="add", KERNEL=="video160", OWNER="cameraserver", GROUP="cameraserver", MODE="0660"
ACTION=="add", KERNEL=="video161", OWNER="cameraserver", GROUP="cameraserver", MODE="0660"
ACTION=="add", KERNEL=="video170", OWNER="cameraserver", GROUP="cameraserver", MODE="0660"
ACTION=="add", KERNEL=="video171", OWNER="cameraserver", GROUP="cameraserver", MODE="0660"
ACTION=="add", KERNEL=="video172", OWNER="cameraserver", GROUP="cameraserver", MODE="0660"
ACTION=="add", KERNEL=="video173", OWNER="cameraserver", GROUP="cameraserver", MODE="0660"
ACTION=="add", KERNEL=="video174", OWNER="cameraserver", GROUP="cameraserver", MODE="0660"
ACTION=="add", KERNEL=="video180", OWNER="cameraserver", GROUP="cameraserver", MODE="0660"
ACTION=="add", KERNEL=="video210", OWNER="cameraserver", GROUP="cameraserver", MODE="0660"
ACTION=="add", KERNEL=="video211", OWNER="cameraserver", GROUP="cameraserver", MODE="0660"
ACTION=="add", KERNEL=="video212", OWNER="cameraserver", GROUP="cameraserver", MODE="0660"
ACTION=="add", KERNEL=="video213", OWNER="cameraserver", GROUP="cameraserver", MODE="0660"
ACTION=="add", KERNEL=="video214", OWNER="cameraserver", GROUP="cameraserver", MODE="0660"
ACTION=="add", KERNEL=="video215", OWNER="cameraserver", GROUP="cameraserver", MODE="0660"
ACTION=="add", KERNEL=="video216", OWNER="cameraserver", GROUP="cameraserver", MODE="0660"
ACTION=="add", KERNEL=="video217", OWNER="cameraserver", GROUP="cameraserver", MODE="0660"
ACTION=="add", KERNEL=="video218", OWNER="cameraserver", GROUP="cameraserver", MODE="0660"
ACTION=="add", KERNEL=="video219", OWNER="cameraserver", GROUP="cameraserver", MODE="0660"
ACTION=="add", KERNEL=="video220", OWNER="cameraserver", GROUP="cameraserver", MODE="0660"
ACTION=="add", KERNEL=="video221", OWNER="cameraserver", GROUP="cameraserver", MODE="0660"
ACTION=="add", KERNEL=="video222", OWNER="cameraserver", GROUP="cameraserver", MODE="0660"
ACTION=="add", KERNEL=="video223", OWNER="cameraserver", GROUP="cameraserver", MODE="0660"
ACTION=="add", KERNEL=="video224", OWNER="cameraserver", GROUP="cameraserver", MODE="0660"
ACTION=="add", KERNEL=="video225", OWNER="cameraserver", GROUP="cameraserver", MODE="0660"
ACTION=="add", KERNEL=="video227", OWNER="cameraserver", GROUP="cameraserver", MODE="0660"
ACTION=="add", KERNEL=="video231", OWNER="cameraserver", GROUP="cameraserver", MODE="0660"
ACTION=="add", KERNEL=="media2", OWNER="media", GROUP="media", MODE="0660"
ACTION=="add", KERNEL=="m2m1shot_jpeg", OWNER="media", GROUP="media", MODE="0660"
ACTION=="add", KERNEL=="video12", OWNER="cameraserver", GROUP="media", MODE="0660"
ACTION=="add", KERNEL=="seiren", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="umts_dm0", OWNER="radio", GROUP="radio", MODE="0660"
ACTION=="add", KERNEL=="umts_router", OWNER="radio", GROUP="radio", MODE="0660"
ACTION=="add", KERNEL=="umts_boot0", OWNER="radio", GROUP="radio", MODE="0660"
ACTION=="add", KERNEL=="umts_ipc0", OWNER="radio", GROUP="radio", MODE="0660"
ACTION=="add", KERNEL=="umts_ipc1", OWNER="radio", GROUP="radio", MODE="0660"
ACTION=="add", KERNEL=="umts_rfs0", OWNER="radio", GROUP="radio", MODE="0660"
ACTION=="add", KERNEL=="block/platform/155a0000.ufs/by-name/RADIO", OWNER="system", GROUP="radio", MODE="0660"
ACTION=="add", KERNEL=="block/platform/155a0000.ufs/by-name/CP_DEBUG", OWNER="radio", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="umts*", OWNER="system", GROUP="radio", MODE="0660"
ACTION=="add", KERNEL=="umts_csd", OWNER="system", GROUP="loop_radio", MODE="0660"
ACTION=="add", KERNEL=="smd4", OWNER="system", GROUP="radio", MODE="0660"
ACTION=="add", KERNEL=="input/event*", OWNER="system", GROUP="input", MODE="0660"
ACTION=="add", KERNEL=="ssp_sensorhub", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="batch_io", OWNER="system", GROUP="system", MODE="0600"
ACTION=="add", KERNEL=="iio:device*", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="bbd_sensor", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="bbd_control", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="bbd_packet", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="bbd_reliable", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="bbd_sio", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="bbd_patch", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="ttyBCM*", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="ovr*", OWNER="root", GROUP="system", MODE="0664"
ACTION=="add", KERNEL=="tvr*", OWNER="root", GROUP="system", MODE="0664"
ACTION=="add", KERNEL=="power_on_alarm", OWNER="system", GROUP="radio", MODE="0660"
ACTION=="add", KERNEL=="rtc0", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="ttySAC0", OWNER="root", GROUP="radio", MODE="0660"
ACTION=="add", KERNEL=="input/event*", OWNER="system", GROUP="input", MODE="0660"
ACTION=="add", KERNEL=="mobicore", OWNER="system", GROUP="system", MODE="0700"
ACTION=="add", KERNEL=="mobicore-user", OWNER="radio", GROUP="system", MODE="0666"
ACTION=="add", KERNEL=="s5p-smem", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="vfsspi", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="esfp0", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="goodix_fp", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="qbt2000_fd", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="qbt2000_ipc", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="qbtspi", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="ttyGS*", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="block/platform/155a0000.ufs/by-name/PERSISTENT", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="block/platform/155a0000.ufs/by-name/STEADY", OWNER="system", GROUP="system", MODE="0660"

# fix binders
ACTION=="add", KERNEL=="hwbinder", OWNER="root", GROUP="root", MODE="0666"
ACTION=="add", KERNEL=="vndbinder", OWNER="root", GROUP="root", MODE="0666"

# anbox/waydroid binders
ACTION=="add", KERNEL=="anbox-binder", OWNER="root", GROUP="root", MODE="0666"
ACTION=="add", KERNEL=="anbox-hwbinder", OWNER="root", GROUP="root", MODE="0666"
ACTION=="add", KERNEL=="anbox-vndbinder", OWNER="root", GROUP="root", MODE="0666"
