[Unit]
Description=monitor and control system power state
Wants=lxc-android-config.service dbus.socket socketfwd.service
After=lxc-android-config.service dbus.socket

[Service]
Type=dbus
BusName=com.lomiri.Repowerd
ExecStart=/usr/sbin/repowerd
EnvironmentFile=-/etc/default/repowerd
ExecStopPost=/usr/bin/bash /usr/libexec/lxc-android-config/device-hacks.d/post_repowerd_shutdown.sh

[Install]
WantedBy=multi-user.target
