[Unit]
Description=start/stop hciattach while monitoring rfkill status
After=systemd-udevd.service urfkill.service

[Service]
Environment=PYTHONUNBUFFERED=1
Restart=always
ExecStart=/usr/bin/python3 /usr/libexec/lxc-android-config/device-hacks.d/hciattach_manager_udev.py


